 <%= link_to @topic.title, topic_path(@topic) %>
 <hr>
 <h1>topics#edit</h1>
 <% if @topic.errors.any? %>
  	<%= @topic.errors.full_messages %>
 <% end %>
 <%= form_for @topic do |f| %>
  タイトル: <%= f.text_field :title %> <br>
  <%= f.submit %>
 <% end %>